<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    tr:hover td {
        background: #4E74B2; //#68B819 #4E74B2
    }

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 3px;
    }
    .span {
        background: #4E74B2; //#68B819 #4E74B2
    }
    .s1
    {
         color: #4E74B2;
    }
    .g1
    {
         color: #3FBF7F;
    }
    </style>
}
    <title>Crypto News by Tee</title>
</head>

<body>

    <div class="jumbotron bg-dark text-white text-center">
        <h1 class="display-8"><span class="g1">Bienvenidos to the Newsfeed by </span><span class="s1">Tee</span></h1>
        <p><img src="../static/img/cryptocomparelogo.png" width="500" height="60" alt=""></p>
        <p class="lead"><span class="g1">Your Source for Crypto Currency and Blockchain News</span></p>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="https://coinmarketcap.com/es/" title="Display all currencies from coinmarketcap.com">All</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="{% url 'prices' %}">Lookup Prices</a>  -->
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'prices' %}">

                    {% csrf_token %}
                    <input name="quote" class="form-control mr-sm-2" type="search" placeholder="Lookup Crypto" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Lookup</button>
                </form>
           </div>
        </nav>    
    </div>

    <div class="containter">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>